body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    margin: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
}

.titulo h1 p {
    align-items: center;
    justify-content: center;
    margin-bottom: 110%;
    left: 80%;
}

form {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    width: 300px;
}

label {
    font-weight: bold;
    display: block;
    margin-top: 10px;
}

input[type="text"] {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    width: 100%;
    padding: 10px;
    border: none;
    background-color: #0d9601;
    color: white;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 20px;
}

button:hover {
    background-color: #064b00;
}

